<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Júlia Martins">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Footer-with-button-logo.css">
    <title>Teste Técnico</title>

</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <ul>
            <li><a href="index.html">MENU</a></li>
            <li><a href="Posts.html">POSTAGENS</a></li>
            <li><a href="Albuns.html">ALBUNS</a></li>
            <li><a href="Todos.html">TODOs</a></li>
        </ul>
    </nav>
    <div>
        <ul id="albuns"></ul>
    </div>

    <div>
        <button>Get</button>
        <div id="table"></div>
        </div>
    </div>
    
    <script src="album.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
