* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserrat;
    font-size: x-large;
}
.body-link{
  	letter-spacing: .1rem;
  	line-height: 1.5em;
  	text-align:center;
  	font-size:larger;
  	font-family: montserrat;
  	text-decoration: underline;
}
div button{
	display: inline-block;
	text-align: center;
}
button{
	display: inline-block;
	padding: 10px 20px;
}
#table{
	display: block;
	margin-top: 20px;
}
th, td{
	border: 1px solid black;
	padding: 5px;

}
.justify-content-center{
  line-height: 5em;
  text-align: center;
}

nav {
	background: black;
	height: 70px;
	width: 100%;
}

nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	background: #f05959;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #18181a;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #f05959;
	}
	#check:checked ~ ul {
		left: 0;
	}
}
div.body-content{
	margin-bottom: 40px;
}
  

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}
